{% extends 'applications/base.html' %}
{% block content %}
  <!--Not completely sure where to put the button.-->
  <!--<span class="glyphicon glyphicon-plus"></span> -->
  <a class="add-btn" href="{% url 'add_application' %}">+ Add an application</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
        <th>Date Applied</th>
        <th>Application Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <td>{{ application.company }}</td>
          <td><a href="{% url 'application_detail' pk=application.pk %}">{{ application.position }}</a></td>
          <td>{{ application.location }}</td>
          <td>{{ application.date_applied }}</td>
          <td>{{ application.status }}</td>
          <td>
            <a href="{% url 'application_edit' pk=application.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
