* {
  padding: 0;
  margin: 0;
  color: black;
}

body {
  background-color: white;
}

.content {
  max-width: 1240px;
  min-width: 500px;
  margin: 0 auto;
}

/* header styles */
.header {
  background-color: #242f44;
  margin-top: -20px;
  margin-bottom: 0px;
  text-align: center;
}

.header h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: white;
}

.header a {
  color: #876c4d;
  display: inline-block;
  padding-bottom: 20px;
}

/* Side nav for filter and add. */
.side-nav {
}
.add-btn {
  background-color: #e5dfd1;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  color: #6176a5;
  font-weight: 500;
}

.add-btn:hover {
  background-color: #d0c5ac;
  text-decoration: none;
}
